body {
    font-family: Segoe UI, Arial;
    background: #0f172a;
    color: white;
}

.container {
    width: 700px;
    margin: auto;
    background: #111827;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px black;
}

input, button {
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}

button {
    background: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color: black;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #2563eb;
    color: white;
}