* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px 40px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    padding: 50px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 14px;
}

input::placeholder, textarea::placeholder {
    color: #cbd5e1;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, #22c55e, #16a34a);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
    background: linear-gradient(45deg, #16a34a, #22c55e);
}

.highlight {
    border: 2px solid #38bdf8 !important;
}

#msg {
    margin-top: 10px;
    text-align: center;
    color: #22c55e;
    font-weight: bold;
}