body {
    font-family: Arial;
    background: linear-gradient(135deg, #232526, #414345);
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    background: #00c6ff;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #0072ff;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

tbody tr:hover {
    background: #f2f2f2;
}